<div class="flex h-full flex-col space-y-4">
  <p class="text-center text-4xl font-bold leading-none">{{ mode === 'create' ? '생성' : '수정' }}</p>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="grow space-y-2">
    <div class="flex h-full flex-col items-end space-y-2">
      <input type="text" class="w-full border px-2 py-1" placeholder="제목" formControlName="title" />
      <textarea class="w-full grow resize-none border p-2" placeholder="내용" formControlName="content"></textarea>
      <div class="flex w-full items-end justify-between">
        <button type="button" class="text-4xl font-bold" (click)="back()">&larr;</button>
        <button type="submit" class="rounded-md bg-blue-400 px-2 py-1 text-white">{{ mode === 'create' ? '등록' : '수정' }}</button>
      </div>
    </div>
  </form>
</div>
